@import "variables"

.contact
    padding: 150px 0 150px 0
    width: 100%
    background: linear-gradient( rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../images/background_end.jpg)
    background-size: cover
    background-position: center
    background-attachment: fixed
    @media screen and (max-width: 800px)
        padding: 50px 0 50px 0
    .container
        height: 100%
        width: 100%
        @media screen and (max-width: 800px)

            padding: 0
        .row
            height: 100%
            width: 100%            
            .col-xl-12
  
                height: 100%
                .contactWrapper
                    padding-left: 2%
                    @media screen and (max-width: 800px) 
                        padding-left: 8%




.form-style-8
    width: 500px
    padding: 30px 
    margin: 50px auto
    background: rgba(255,255,255,.2)
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22)
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22)
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22)
    border-radius: 20px
    @media screen and (max-width: 800px)
        width: 100%


.form-style-8 h2
    background: #EF3C51
    color: #fff
    font-size: 22px
    font-weight: 100
    padding: 20px
    font-weight: 200
    margin: -30px -30px 30px -30px
    border-top-right-radius: 20px
    border-top-left-radius: 20px

.form-style-8 input[type="text"],
.form-style-8 textarea,
.form-style-8 select
    outline: none
    width: 100%
    padding: 7px
    border: none
    border-bottom: 2px solid #fff
    background: transparent
    margin-bottom: 10px
    font: 20px
    height: 45px
    color: #fff
    &::placeholder 
        color: white
        opacity: 0.6
  

.form-style-8 textarea
    resize: none
    height: 140px
    overflow: hidden
    outline: none
.form-style-8 input[type="button"]
    background: #EF3C51
    display: inline-block
    cursor: pointer
    color: #FFFFFF
    font-size: 14px
    padding: 8px 18px
    text-decoration: none
    margin: auto
    display: block
    border-radius: 20px
    transition: background 1s
    &:hover
        background: #ed5769
