.display {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.display img {
  width: 100%;
}

.display .col-xl-12 {
  padding: 50px 0 0 0;
  margin: 0;
}

.display .col-xl-5 {
  margin: auto;
  padding-bottom: 0;
}

.display .col-xl-5 p {
  padding: 1vw 2.2vw 0 2.2vw;
}

@media screen and (max-width: 800px) {
  .display .col-xl-5 p {
    padding: 0 0;
  }
}

.display .col-xl-7 {
  padding-bottom: 0;
}

.display .col-xl-7 .smallImageWrapper {
  height: 100%;
  width: 100%;
}

.display .col-xl-7 .smallImageWrapper img {
  top: 0;
  bottom: 0;
  margin: 0 auto;
}

.imageWrapperDisplay {
  width: 100%;
  height: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(239, 60, 81, 0)), to(rgba(239, 60, 81, 0))), url(../images/display_background.jpg);
  background: linear-gradient(rgba(239, 60, 81, 0), rgba(239, 60, 81, 0)), url(../images/display_background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/*# sourceMappingURL=display.css.map */