@import "variables"

.display
    //background: linear-gradient( rgba(239, 60, 81, .0), rgba(239, 60, 81, .0)), url(../images/display_background.jpg)
    background-size: cover
    background-position: center
    background-attachment: fixed
    img 
        width: 100%
    .col-xl-12
        padding: 50px 0 0 0
        margin: 0
    .col-xl-5
        margin: auto
        padding-bottom: 0

        p
            padding: 1vw 2.2vw 0 2.2vw
            @media screen and(max-width: 800px)
                padding: 0 0
    .col-xl-7
        padding-bottom: 0
        .smallImageWrapper
            height: 100%
            width: 100%
            img 
                top: 0
                bottom: 0
                margin: 0 auto
.imageWrapperDisplay
    width: 100%
    height: 400px
    background: linear-gradient( rgba(239, 60, 81, .0), rgba(239, 60, 81, .0)), url(../images/display_background.jpg)
    background-size: cover
    background-position: center
    background-attachment: fixed 