footer {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 5px 0 10px 0;
  margin: 10px 0 0 0;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: #EF3C51;
}

footer p {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1.6;
  font-size: 90%;
  font-weight: 500;
}

footer ul {
  margin: 25px 0 15px 0;
}

footer li {
  display: inline-block;
  padding: 0px 20px;
}

footer .fab {
  font-size: 25px;
}
/*# sourceMappingURL=footer.css.map */