@import 'variables'
footer 
    height: 100%
    width: 100%
    text-align: center
    padding: 5px 0 10px 0
    margin: 10px 0 0 0
    a 
        color: black
        text-decoration: none
        &:hover
            color: #EF3C51
    p 
        padding: 0 !important
        margin: 0 !important
        line-height: 1.6
        font-size: 90%
        font-weight: 500
    ul 
        margin: 25px 0 15px 0
    li
        display: inline-block
        padding: 0px 20px
    .fab
        font-size: 25px