header:not(.title) {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/background.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/background.jpg);
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

nav {
  width: 100%;
  position: absolute;
  z-index: 800;
}

.topnav {
  list-style-type: none;
  background: white;
  width: 100%;
  text-align: center;
  height: 60px;
}

.topnav li {
  display: inline-block;
  font-size: 130%;
  padding: 15px 2vw 0 2vw;
  height: 100%;
  width: 10%;
  min-width: 130px;
  position: relative;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.topnav li:hover {
  background: #ED5565;
}

.topnav li:hover a {
  text-decoration: none;
  height: 100%;
  color: white;
}

@media screen and (max-width: 800px) {
  .topnav li {
    display: none;
  }
}

.topnav a {
  color: black;
  text-decoration: none;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  padding: 15px 2% 0 2%;
  bottom: 0;
}

.title {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 0 50px 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
}

.wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60vw;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100vw;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 100vw;
  }
}

.wrapper h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  margin: -3vw 0 0 0;
  padding: 3px 0 3px 0;
  font-size: 1.6vw;
  color: white;
}

@media screen and (max-width: 1200px) {
  .wrapper h3 {
    margin-top: -5vw;
    font-size: 3.6vw;
  }
}

@media screen and (max-width: 800px) {
  .wrapper h3 {
    font-size: 5.6vw;
  }
}

img {
  width: 100px;
  z-index: 900;
  margin-top: -80px;
}

.lottieWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 40px;
  margin: 20px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  -webkit-transition: background 0.3s, border-radius .4s, color 0.3s, border .4s;
  transition: background 0.3s, border-radius .4s, color 0.3s, border .4s;
}

.lottieWrapper:hover {
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(227, 226, 222, 0.2);
  border-radius: 1000px;
  -webkit-transition: background 0.3s, border-radius .9s, color 0.3s, border .4s;
  transition: background 0.3s, border-radius .9s, color 0.3s, border .4s;
}

.lottieWrapper:hover h3 {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #fff;
}

.lottieWrapper h3 {
  margin: 0;
  padding: 0;
  font-size: 120%;
}

#lottieScrollDown {
  height: 100px;
  margin: 0;
  padding: 0;
}

.iconLi {
  display: none !important;
}

.iconLi:hover {
  background: none !important;
}

.iconLi:hover i {
  color: black;
}

@media screen and (max-width: 800px) {
  .iconLi {
    display: block !important;
    position: absolute !important;
    right: 0;
    padding: 8px 0 0 0 !important;
    margin: 0;
  }
}

.iconLi .fa {
  font-size: 25px;
  padding: 0 0 0 50px;
}

.iconLi .fa-arrow-alt-circle-up {
  padding: 14px 0 0 0;
  font-size: 30px;
  font-weight: 100;
}

.openedNav {
  list-style-type: none;
  background: white;
  width: 100%;
  text-align: center;
  height: 60px;
  -webkit-transition: background 1000ms linear;
  transition: background 1000ms linear;
}

@media screen and (min-width: 800px) {
  .openedNav {
    display: none;
  }
}

.openedNav li {
  display: block;
  font-size: 130%;
  width: 100%;
  padding: 15px 2% 0 2%;
  height: 100%;
  background: white;
}

.openedNav li:hover a {
  text-decoration: none;
  height: 100%;
  color: #ED5565;
  font-weight: bold;
}

.openedNav a {
  color: black;
  text-decoration: none;
  height: 100%;
}

.openedNav .iconLi {
  width: 100% !important;
}

.openedNav .iconLi:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#ED5565), to(#f26876)) !important;
  background: linear-gradient(to top, #ED5565, #f26876) !important;
  width: 100% !important;
}

.openedNav .iconLi:hover i {
  color: white;
}

.flagWrapper {
  position: absolute;
  z-index: 999999999999999999;
  bottom: 0;
  right: 1%;
  height: 0;
  list-style-type: none;
}

.flagWrapper a {
  height: 0;
}

.flagWrapper ul {
  padding-right: 20px;
  height: 0;
  display: inline-block;
}

.flagWrapper ul li {
  height: 0;
  bottom: 0;
  padding: 20px;
  display: inline-block;
}

.flagWrapper img {
  position: absolute;
  width: 30px;
}
/*# sourceMappingURL=header.css.map */