@import "variables"

header:not(.title)
    width: 100%
    height: 100%
    background: linear-gradient( rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../images/background.jpg)
    background-size: cover
    -o-background-size: cover
    -moz-background-size: cover
    -webkit-background-size: cover
    background-position: center
    background-attachment: fixed
    text-align: center

nav 
    width: 100%
    position: absolute
    z-index: 800
.topnav
    list-style-type: none
    background: white
    width: 100%
    text-align: center
    height: 60px
    li 
        display: inline-block
        font-size: 130%
        padding: 15px 2vw 0 2vw
        height: 100%
        width: 10%
        min-width: 130px
        position: relative
        transition: background 0.4s
        &:hover 
            background: #ED5565
        &:hover a
            text-decoration: none    
            height: 100% 
            color: white 
        @media screen and(max-width: 800px)
            display: none
    a 
        color: black
        text-decoration: none
        height: 100%    
        width: 100%        
        position: absolute
        right: 0
        left: 0
        top: 0
        padding: 15px 2% 0 2%
        bottom: 0

.title
    height: 100vh
    width: 100vw
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    padding: 0 0 50px 0
    z-index: 500
    display: flex
    justify-content: center
    align-items: center
    min-height: 400px
.wrapper
    position: absolute
    top: 45%
    left: 50%
    transform: translate(-50%, -50%)
    width: 60vw
    @media screen and (max-width: 1200px)
        width: 100vw
    @media screen and (max-width: 800px)
        width: 100vw
    h3
        font-family: 'Quicksand', sans-serif    
        font-weight: 400
        margin: -3vw 0 0 0
        padding: 3px 0 3px 0
        font-size: 1.6vw
        color: white
        @media screen and (max-width: 1200px)
            margin-top: -5vw
            font-size: 3.6vw 
        @media screen and (max-width: 800px)
            font-size: 5.6vw  
img 
    width: 100px
    z-index: 900
    margin-top: -80px
    
.lottieWrapper
    position: absolute
    bottom: 0
    right: 0
    padding: 20px 40px
    margin: 20px
    border: 2px solid rgba(255,255,255,.1)
    border-radius: 20px
    -webkit-transition: background 0.3s, border-radius .4s, color 0.3s, border .4s 
    -moz-transition: background 0.3s, border-radius .4s, color 0.3s, border .4s
    transition: background 0.3s, border-radius .4s, color 0.3s, border .4s
    &:hover
        border: 2px solid rgba(255,255,255, .8)
        background: rgba(227, 226, 222, .2)
        border-radius: 1000px
        -webkit-transition: background 0.3s, border-radius .9s, color 0.3s, border .4s 
        -moz-transition: background 0.3s, border-radius .9s, color 0.3s, border .4s
        transition: background 0.3s, border-radius .9s, color 0.3s, border .4s
        h3 
            -webkit-transition: color 0.3s 
            -moz-transition: color 0.3s 
            transition: color 0.3s 
            color: #fff
    h3 
        margin: 0
        padding: 0
        font-size: 120%
#lottieScrollDown
    height: 100px
    margin: 0
    padding: 0



.iconLi
    display: none !important
    &:hover 
        background: none !important        
    &:hover i
        color: black
    @media screen and(max-width: 800px)
        display: block !important
        position: absolute !important
        right: 0
        padding: 8px 0 0 0 !important
        margin: 0
    .fa 
        font-size: 25px
        padding: 0 0 0 50px
    .fa-arrow-alt-circle-up
        padding: 14px 0 0 0
        font-size: 30px 
        font-weight: 100    
       
    
    

.openedNav
    list-style-type: none
    background: white
    width: 100%
    text-align: center
    height: 60px
    -webkit-transition: background 1000ms linear
    -moz-transition: background 1000ms linear
    -o-transition: background 1000ms linear
    transition: background 1000ms linear 
    @media screen and(min-width: 800px)
        display: none
    li 
        display: block
        font-size: 130%
        width: 100%
        padding: 15px 2% 0 2%
        height: 100%
        background: white
        &:hover a
            text-decoration: none    
            height: 100% 
            color: #ED5565 
            font-weight: bold
    a 
        color: black
        text-decoration: none
        height: 100%   
    .iconLi
        width: 100% !important
        &:hover 
            background: linear-gradient(to top, #ED5565, #f26876)   !important
            width: 100% !important
        &:hover i
            color: white 


.flagWrapper 
    position: absolute
    z-index: 999999999999999999
    bottom: 0
    right: 1%
    height: 0
    list-style-type: none
    a 
        height: 0
    ul 
        padding-right: 20px
        height: 0
        display: inline-block
        li 
            height: 0
            bottom: 0
            padding: 20px
            display: inline-block

    img 
        position: absolute
        width: 30px