@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url("https://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,400,300,400,700|Nanum+Gothic|Philosopher|Playfair+Display|Quicksand:100,100i,200,200i,300,400,300,400,700|Rajdhani");
footer {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 5px 0 10px 0;
  margin: 10px 0 0 0; }
footer a {
  color: black;
  text-decoration: none; }
footer a:hover {
  color: #EF3C51; }
footer p {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1.6;
  font-size: 90%;
  font-weight: 500; }
footer ul {
  margin: 25px 0 15px 0; }
footer li {
  display: inline-block;
  padding: 0px 20px; }
footer .fab {
  font-size: 25px; }

.display {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
.display img {
  width: 100%; }
.display .col-xl-12 {
  padding: 50px 0 0 0;
  margin: 0; }
.display .col-xl-5 {
  margin: auto;
  padding-bottom: 0; }
.display .col-xl-5 p {
  padding: 1vw 2.2vw 0 2.2vw; }
@media screen and (max-width: 800px) {
  .display .col-xl-5 p {
    padding: 0 0; } }
.display .col-xl-7 {
  padding-bottom: 0; }
.display .col-xl-7 .smallImageWrapper {
  height: 100%;
  width: 100%; }
.display .col-xl-7 .smallImageWrapper img {
  top: 0;
  bottom: 0;
  margin: 0 auto; }

.imageWrapperDisplay {
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(239, 60, 81, 0), rgba(239, 60, 81, 0)), url(../images/display_background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

header:not(.title) {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/background.jpg);
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center; }

nav {
  width: 100%;
  position: absolute;
  z-index: 800; }

.topnav {
  list-style-type: none;
  background: white;
  width: 100%;
  text-align: center;
  height: 60px; }
.topnav li {
  display: inline-block;
  font-size: 130%;
  padding: 15px 2vw 0 2vw;
  height: 100%;
  width: 10%;
  min-width: 130px;
  position: relative;
  transition: background 0.4s; }
.topnav li:hover {
  background: #ED5565; }
.topnav li:hover a {
  text-decoration: none;
  height: 100%;
  color: white; }
@media screen and (max-width: 800px) {
  .topnav li {
    display: none; } }
.topnav a {
  color: black;
  text-decoration: none;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  padding: 15px 2% 0 2%;
  bottom: 0; }

.title {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 0 50px 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; }

.wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw; }
@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100vw; } }
@media screen and (max-width: 800px) {
  .wrapper {
    width: 100vw; } }
.wrapper h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  margin: -3vw 0 0 0;
  padding: 3px 0 3px 0;
  font-size: 1.6vw;
  color: white; }
@media screen and (max-width: 1200px) {
  .wrapper h3 {
    margin-top: -5vw;
    font-size: 3.6vw; } }
@media screen and (max-width: 800px) {
  .wrapper h3 {
    font-size: 5.6vw; } }

img {
  width: 100px;
  z-index: 900;
  margin-top: -80px; }

.lottieWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 40px;
  margin: 20px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  -webkit-transition: background 0.3s, border-radius 0.4s, color 0.3s, border 0.4s;
  -moz-transition: background 0.3s, border-radius 0.4s, color 0.3s, border 0.4s;
  transition: background 0.3s, border-radius 0.4s, color 0.3s, border 0.4s; }
.lottieWrapper:hover {
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(227, 226, 222, 0.2);
  border-radius: 1000px;
  -webkit-transition: background 0.3s, border-radius 0.9s, color 0.3s, border 0.4s;
  -moz-transition: background 0.3s, border-radius 0.9s, color 0.3s, border 0.4s;
  transition: background 0.3s, border-radius 0.9s, color 0.3s, border 0.4s; }
.lottieWrapper:hover h3 {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  color: #fff; }
.lottieWrapper h3 {
  margin: 0;
  padding: 0;
  font-size: 120%; }

#lottieScrollDown {
  height: 100px;
  margin: 0;
  padding: 0; }

.iconLi {
  display: none !important; }
.iconLi:hover {
  background: none !important; }
.iconLi:hover i {
  color: black; }
@media screen and (max-width: 800px) {
  .iconLi {
    display: block !important;
    position: absolute !important;
    right: 0;
    padding: 8px 0 0 0 !important;
    margin: 0; } }
.iconLi .fa {
  font-size: 25px;
  padding: 0 0 0 50px; }
.iconLi .fa-arrow-alt-circle-up {
  padding: 14px 0 0 0;
  font-size: 30px;
  font-weight: 100; }

.openedNav {
  list-style-type: none;
  background: white;
  width: 100%;
  text-align: center;
  height: 60px;
  -webkit-transition: background 1000ms linear;
  -moz-transition: background 1000ms linear;
  -o-transition: background 1000ms linear;
  transition: background 1000ms linear; }
@media screen and (min-width: 800px) {
  .openedNav {
    display: none; } }
.openedNav li {
  display: block;
  font-size: 130%;
  width: 100%;
  padding: 15px 2% 0 2%;
  height: 100%;
  background: white; }
.openedNav li:hover a {
  text-decoration: none;
  height: 100%;
  color: #ED5565;
  font-weight: bold; }
.openedNav a {
  color: black;
  text-decoration: none;
  height: 100%; }
.openedNav .iconLi {
  width: 100% !important; }
.openedNav .iconLi:hover {
  background: linear-gradient(to top, #ED5565, #f26876) !important;
  width: 100% !important; }
.openedNav .iconLi:hover i {
  color: white; }

.flagWrapper {
  position: absolute;
  z-index: 999999999999999999;
  bottom: 0;
  right: 1%;
  height: 0;
  list-style-type: none; }
.flagWrapper a {
  height: 0; }
.flagWrapper ul {
  padding-right: 20px;
  height: 0;
  display: inline-block; }
.flagWrapper ul li {
  height: 0;
  bottom: 0;
  padding: 20px;
  display: inline-block; }
.flagWrapper img {
  position: absolute;
  width: 30px; }

#services {
  margin-bottom: 20px;
  width: 100%; }
@media screen and (max-width: 1200px) {
  #services {
    height: auto; } }
@media screen and (max-width: 800px) {
  #services {
    margin-bottom: 0; } }
#services h3 {
  font-size: 200%;
  font-weight: 300;
  margin: 40px 0 10px 0;
  width: 100%; }
#services .serviceItemWrapper {
  width: 100%;
  height: 100%;
  padding: 40px 10px 0px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 0 20 5px;
  margin: 20px 0 0 0;
  border-radius: 20px;
  background: #EAE8DC;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-transition: background 0.5s, color 0.5s, h3 0.5s;
  -webkit-transition: background 0.5s, color 0.5s, h3 0.5s;
  transition: background 0.5s, color 0.5s, h3 0.5s; }
#services .serviceItemWrapper:hover {
  -moz-transition: background 0.5s, color 0.5s, h3 0.5s;
  -webkit-transition: background 0.5s, color 0.5s, h3 0.5s;
  transition: background 0.5s, color 0.5s, h3 0.5s;
  background: #EF475E;
  color: white; }
#services .serviceItemWrapper:hover h3 {
  -moz-transition: background 0.5s, color 0.5s, h3 0.5s;
  -webkit-transition: background 0.5s, color 0.5s, h3 0.5s;
  transition: background 0.5s, color 0.5s, h3 0.5s;
  color: white; }
#services .col-xl-3 {
  padding: 10px 20px; }
@media screen and (max-width: 1200px) {
  #services .col-xl-3 {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0; } }
#services img {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 200px;
  width: 200px;
  -moz-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4)); }
@media screen and (max-width: 800px) {
  #services img {
    height: 100px;
    width: 100px; } }
#services img:hover {
  -webkit-animation-name: pulse;
  animation: 1s ease infinite pulse; }
#services .firstRow {
  margin: 30px 0 0 0;
  padding: 30px 0 30px 0; }
#services .secondRow {
  margin: 10px 0 0 0;
  padding: 30px 0 30px 0; }
@media screen and (max-width: 800px) {
  #services .secondRow {
    margin: 0 0 10px 0;
    padding: 30px 0 20px 0; } }
#services .col-xl-12 h3 {
  padding-top: 0; }

.buttonWrapper {
  width: 200px;
  margin: 0 auto;
  margin-top: 45px; }
.buttonWrapper .button {
  text-align: 100%;
  backface-visibility: hidden;
  border-radius: 100px !important;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 13px 20px;
  position: relative;
  font-weight: 500 !important;
  width: 200px;
  float: none;
  border: 2px solid #EF3C51;
  font-size: 150%;
  background-color: #EF3C51;
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); }
.buttonWrapper .button:hover {
  padding: -2px;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background-color: white;
  border: 2px solid #EF3C51;
  color: #EF3C51;
  font-weight: bold;
  outline: 0; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.135); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(1.035); }
  100% {
    transform: scale(1); } }
#portfolio {
  width: 100%;
  background: #fff;
  padding: 0 0 100px 0; }
#portfolio img {
  width: 100%;
  height: 100%; }
#portfolio h3 {
  font-size: 400%;
  color: black; }

.col-xl-7, .col-xl-5 {
  padding: 50px; }
@media screen and (max-width: 800px) {
  .col-xl-7, .col-xl-5 {
    padding: 20px 20px 20px 20px; } }

.textWrapperPortfolioParent {
  height: 100%;
  width: 100%;
  display: table; }

.textWrapperPortfolio {
  display: table-cell;
  vertical-align: middle; }

.imageSettings {
  object-fit: cover;
  width: 50px;
  height: 100px; }

figure.snip0013 {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  height: 100%;
  background: #000000;
  text-align: center; }
figure.snip0013 img {
  margin: 0 !important;
  width: 100%;
  height: 100%; }

figure.snip0013 img {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

figure.snip0013 > div {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute; }

figure.snip0013 > div a {
  color: #ffffff; }

figure.snip0013 > div a i {
  font-size: 50px;
  opacity: 0;
  top: 50%;
  position: relative;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  display: inline-block; }

figure.snip0013 > div a i.left-icon {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

figure.snip0013 > div a i.right-icon {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

figure.snip0013 > div::before {
  position: absolute;
  top: 30px;
  right: 50%;
  bottom: 30px;
  left: 50%;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  content: "";
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

figure.snip0013:hover img {
  opacity: 0.35; }

figure.snip0013:hover > div i {
  opacity: 0.9;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

figure.snip0013:hover > div i.left-icon {
  -webkit-transform: translate3d(-25%, -50%, 0);
  transform: translate3d(-25%, -50%, 0); }

figure.snip0013:hover > div i.right-icon {
  -webkit-transform: translate3d(25%, -50%, 0);
  transform: translate3d(25%, -50%, 0); }

figure.snip0013:hover > div::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  right: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.contact {
  padding: 150px 0 150px 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/background_end.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
@media screen and (max-width: 800px) {
  .contact {
    padding: 50px 0 50px 0; } }
.contact .container {
  height: 100%;
  width: 100%; }
@media screen and (max-width: 800px) {
  .contact .container {
    padding: 0; } }
.contact .container .row {
  height: 100%;
  width: 100%; }
.contact .container .row .col-xl-12 {
  height: 100%; }
.contact .container .row .col-xl-12 .contactWrapper {
  padding-left: 2%; }
@media screen and (max-width: 800px) {
  .contact .container .row .col-xl-12 .contactWrapper {
    padding-left: 8%; } }

.form-style-8 {
  width: 500px;
  padding: 30px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  border-radius: 20px; }
@media screen and (max-width: 800px) {
  .form-style-8 {
    width: 100%; } }

.form-style-8 h2 {
  background: #EF3C51;
  color: #fff;
  font-size: 22px;
  font-weight: 100;
  padding: 20px;
  font-weight: 200;
  margin: -30px -30px 30px -30px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px; }

.form-style-8 input[type="text"],
.form-style-8 textarea,
.form-style-8 select {
  outline: none;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  margin-bottom: 10px;
  font: 20px;
  height: 45px;
  color: #fff; }
.form-style-8 input[type="text"]::placeholder,
.form-style-8 textarea::placeholder,
.form-style-8 select::placeholder {
  color: white;
  opacity: 0.6; }

.form-style-8 textarea {
  resize: none;
  height: 140px;
  overflow: hidden;
  outline: none; }

.form-style-8 input[type="button"] {
  background: #EF3C51;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  margin: auto;
  display: block;
  border-radius: 20px;
  transition: background 1s; }
.form-style-8 input[type="button"]:hover {
  background: #ed5769; }

.prices {
  background: linear-gradient(#EF3C51, #EF3C51); }
.prices li {
  display: inline-block;
  width: 100%; }
.prices .col-xl-12 h3 {
  font-size: 400%;
  color: white; }
.prices .container {
  height: 100%; }
.prices .container .row {
  height: 100%; }
.prices .col-lg-4 {
  padding: 0 20px 0 20px; }
@media screen and (max-width: 1200px) {
  .prices .col-lg-4 {
    padding: 0 20px 40px 20px; } }
.prices p {
  color: white;
  font-size: 110%;
  padding: 15px 0 50px 0; }
.prices .priceBoxWrapper {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 15px;
  -moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3); }
.prices .priceBoxWrapper h3 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100px;
  color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }
.prices .priceBoxWrapper .basicPrice {
  background: #EC9523;
  font-weight: 400; }
.prices .priceBoxWrapper .advancedPrice {
  background: #2B6CD9;
  font-weight: 400; }
.prices .priceBoxWrapper .androidPrice {
  background: #85144b;
  font-weight: 400; }
.prices .priceBoxWrapper .priceSpecification {
  font-size: 120%;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 30px; }
.prices .priceBoxWrapper .priceSpecification h2 {
  margin: 10px 0 15px 0;
  font-size: 400%; }
@media screen and (max-width: 800px) {
  .prices .priceBoxWrapper .priceSpecification h2 {
    font-size: 300%; } }

.preloadingWrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient(to right, #9E9FA4, #BCBABD);
  z-index: 999999999;
  display: table; }

#lottieVisitWebsite {
  top: 30%;
  height: 400px;
  display: table-cell;
  vertical-align: middle; }
#lottieVisitWebsite p {
  color: white;
  font-size: 30px; }

#anim {
  height: 400px; }

/* font-family: 'Playfair Display', serif
 *
 * font-family: 'Nanum Gothic', sans-serif
 *
 * font-family: 'Quicksand', sans-serif  h3
 *
 * font-family: 'Exo', sans-serif
 *
 * font-family: 'Rajdhani', sans-serif
 *
 * font-family: 'Philosopher', sans-serif  h3
 */
* {
  padding: 0;
  margin: 0;
  border: 0; }

body {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1.8;
  overflow-x: hidden;
  background: #FFFBF9; }
@media (pointer: none), (pointer: coarse) {
  body {
    overflow-x: hidden; } }

html {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  overflow-x: hidden; }

h1 {
  font-weight: 300;
  color: white;
  font-size: 720%; }
@media screen and (max-width: 1040px) {
  h1 {
    font-size: 520%; } }
@media screen and (max-width: 600px) {
  h1 {
    font-size: 350%; } }

h2 {
  text-align: center;
  margin-bottom: 20px; }

h3 {
  color: black;
  font-weight: 500;
  text-align: center;
  margin: 30px;
  font-weight: 100; }

p {
  text-align: center;
  font-size: 100%;
  padding: 10px 5px 0 5px; }
@media screen and (max-width: 800px) {
  p {
    padding: 0 1vw 10px 1vw; } }

/*# sourceMappingURL=master.css.map */
