@import 'variables'
.preloadingWrapper
  height: 100%
  width: 100%
  position: fixed 
  background: linear-gradient(to right, #9E9FA4, #BCBABD)
  z-index: 999999999
  display: table

#lottieVisitWebsite
  top: 30%
  height: 400px
  display: table-cell 
  vertical-align: middle
  p 
    color: white 
    font-size: 30px
#anim
  height: 400px
