.preloadingWrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  background: -webkit-gradient(linear, left top, right top, from(#9E9FA4), to(#BCBABD));
  background: linear-gradient(to right, #9E9FA4, #BCBABD);
  z-index: 999999999;
  display: table;
}

#lottieVisitWebsite {
  top: 30%;
  height: 400px;
  display: table-cell;
  vertical-align: middle;
}

#lottieVisitWebsite p {
  color: white;
  font-size: 30px;
}

#anim {
  height: 400px;
}
/*# sourceMappingURL=preloader.css.map */