@import 'variables'

.prices
    background: linear-gradient(#EF3C51, #EF3C51)
    li 
        display: inline-block
        width: 100%
        
           

    .col-xl-12
        h3 
            font-size: 400%
            color: white
    .container
        height: 100%
        .row
            height: 100%
    .col-lg-4
        padding: 0 20px 0 20px
        @media screen and (max-width: 1200px)
            padding: 0 20px 40px 20px
    p 
        color: white
        font-size: 110%
        padding: 15px 0 50px 0

    .priceBoxWrapper
        width: 100%
        height: 100%
        background: white
        //box-shadow: 5px 10px #888888
        border-radius: 15px
        -moz-box-shadow:    3px 3px 2px  rgba(0,0,0,.3)
        -webkit-box-shadow: 3px 3px 2px  rgba(0,0,0,.3)
        box-shadow:         3px 3px 2px  rgba(0,0,0,.3)
        h3 
            border-top-left-radius: 15px
            border-top-right-radius: 15px
            padding: 0
            margin: 0
            width: 100%
            height: 100px
            color: white
            display: -webkit-box
            display: -moz-box
            display: -ms-flexbox
            display: -webkit-flex
            display: flex
            align-items: center
            justify-content: center
        .basicPrice
            background: #EC9523
            font-weight: 400
        .advancedPrice
            background: #2B6CD9
            font-weight: 400
        .androidPrice
            background: #85144b
            font-weight: 400
        .priceSpecification
            font-size: 120%
            text-align: center
            width: 100%
            height: 100%
            padding: 30px
            h2 
                margin: 10px 0 15px 0
                font-size: 400%
                @media screen and(max-width: 800px)
                    font-size: 300%
 