.prices {
  background: -webkit-gradient(linear, left top, left bottom, from(#EF3C51), to(#EF3C51));
  background: linear-gradient(#EF3C51, #EF3C51);
}

.prices li {
  display: inline-block;
  width: 100%;
}

.prices .col-xl-12 h3 {
  font-size: 400%;
  color: white;
}

.prices .container {
  height: 100%;
}

.prices .container .row {
  height: 100%;
}

.prices .col-lg-4 {
  padding: 0 20px 0 20px;
}

@media screen and (max-width: 1200px) {
  .prices .col-lg-4 {
    padding: 0 20px 40px 20px;
  }
}

.prices p {
  color: white;
  font-size: 110%;
  padding: 15px 0 50px 0;
}

.prices .priceBoxWrapper {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.prices .priceBoxWrapper h3 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prices .priceBoxWrapper .basicPrice {
  background: #EC9523;
  font-weight: 400;
}

.prices .priceBoxWrapper .advancedPrice {
  background: #2B6CD9;
  font-weight: 400;
}

.prices .priceBoxWrapper .androidPrice {
  background: #85144b;
  font-weight: 400;
}

.prices .priceBoxWrapper .priceSpecification {
  font-size: 120%;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.prices .priceBoxWrapper .priceSpecification h2 {
  margin: 10px 0 15px 0;
  font-size: 400%;
}

@media screen and (max-width: 800px) {
  .prices .priceBoxWrapper .priceSpecification h2 {
    font-size: 300%;
  }
}
/*# sourceMappingURL=prices.css.map */