#services {
  margin-bottom: 20px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  #services {
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  #services {
    margin-bottom: 0;
  }
}

#services h3 {
  font-size: 200%;
  font-weight: 300;
  margin: 40px 0 10px 0;
  width: 100%;
}

#services .serviceItemWrapper {
  width: 100%;
  height: 100%;
  padding: 40px 10px 0px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 0 20 5px;
  margin: 20px 0 0 0;
  border-radius: 20px;
  background: #EAE8DC;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: background 0.5s, color 0.5s, h3 0.5s;
  transition: background 0.5s, color 0.5s, h3 0.5s;
}

#services .serviceItemWrapper:hover {
  -webkit-transition: background 0.5s, color 0.5s, h3 0.5s;
  transition: background 0.5s, color 0.5s, h3 0.5s;
  background: #EF475E;
  color: white;
}

#services .serviceItemWrapper:hover h3 {
  -webkit-transition: background 0.5s, color 0.5s, h3 0.5s;
  transition: background 0.5s, color 0.5s, h3 0.5s;
  color: white;
}

#services .col-xl-3 {
  padding: 10px 20px;
}

@media screen and (max-width: 1200px) {
  #services .col-xl-3 {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
  }
}

#services img {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 200px;
  width: 200px;
  -moz-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
}

@media screen and (max-width: 800px) {
  #services img {
    height: 100px;
    width: 100px;
  }
}

#services img:hover {
  -webkit-animation-name: pulse;
  -webkit-animation: 1s ease infinite pulse;
          animation: 1s ease infinite pulse;
}

#services .firstRow {
  margin: 30px 0 0 0;
  padding: 30px 0 30px 0;
}

#services .secondRow {
  margin: 10px 0 0 0;
  padding: 30px 0 30px 0;
}

@media screen and (max-width: 800px) {
  #services .secondRow {
    margin: 0 0 10px 0;
    padding: 30px 0 20px 0;
  }
}

#services .col-xl-12 h3 {
  padding-top: 0;
}

.buttonWrapper {
  width: 200px;
  margin: 0 auto;
  margin-top: 45px;
}

.buttonWrapper .button {
  text-align: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 100px !important;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 13px 20px;
  position: relative;
  font-weight: 500 !important;
  width: 200px;
  float: none;
  border: 2px solid #EF3C51;
  font-size: 150%;
  background-color: #EF3C51;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.buttonWrapper .button:hover {
  padding: -2px;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background-color: white;
  border: 2px solid #EF3C51;
  color: #EF3C51;
  font-weight: bold;
  outline: 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.135);
            transform: scale(1.135);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.035);
            transform: scale(1.035);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.135);
            transform: scale(1.135);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.035);
            transform: scale(1.035);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=services.css.map */