@import 'variables'

$transitionTime: .5s

#services 
    margin-bottom: 20px
    width: 100%
    @media screen and (max-width: 1200px)
        height: auto
    @media screen and (max-width: 800px)
        margin-bottom: 0  
    h3 
        font-size: 200%
        font-weight: 300
        margin: 40px 0 10px 0
        width: 100%
    .serviceItemWrapper
        width: 100%
        height: 100%
        padding: 40px 10px 0px 10px 
        border: 1px solid rgba(0,0,0,.1)
        padding: 0px 0 20 5px 
        margin: 20px 0 0 0
        border-radius: 20px
        background: #EAE8DC
        -moz-box-shadow:    1px 1px 2px  rgba(0,0,0,.2)
        -webkit-box-shadow: 1px 1px 2px  rgba(0,0,0,.2)
        box-shadow:         1px 1px 2px  rgba(0,0,0,.2) 
        -moz-transition: background $transitionTime, color $transitionTime, h3 $transitionTime
        -webkit-transition: background $transitionTime, color $transitionTime, h3 $transitionTime
        transition: background $transitionTime, color $transitionTime, h3 $transitionTime
        &:hover
            -moz-transition: background $transitionTime, color $transitionTime, h3 $transitionTime
            -webkit-transition: background $transitionTime, color $transitionTime, h3 $transitionTime
            transition: background $transitionTime, color $transitionTime, h3 $transitionTime
            background: #EF475E
            color: white
            h3 
                -moz-transition: background $transitionTime, color $transitionTime, h3 $transitionTime
                -webkit-transition: background $transitionTime, color $transitionTime, h3 $transitionTime
                transition: background $transitionTime, color $transitionTime, h3 $transitionTime
                color: white 

    .col-xl-3
        padding: 10px 20px
        @media screen and (max-width: 1200px)
            margin: 0 0 20px 0
            padding: 0 0 10px 0
    img 
        margin-top: 0
        margin-left: auto
        margin-right: auto
        display: block
        height: 200px
        width: 200px
        -moz-filter: drop-shadow(3px 3px 2px  rgba(0,0,0,.3))
        -webkit-filter: drop-shadow(3px 3px 2px  rgba(0,0,0,.3))
        filter: drop-shadow(3px 3px 2px  rgba(0,0,0,.4))
        @media screen and (max-width: 800px)
            height: 100px
            width: 100px
        &:hover
            -webkit-animation-name: pulse
            animation: 1s ease infinite pulse
    .firstRow
        margin: 30px 0 0 0
        padding: 30px 0 30px 0
    .secondRow
        margin: 10px 0 0 0
        padding: 30px 0 30px 0
        @media screen and (max-width: 800px)
            margin: 0 0 10px 0
            padding: 30px 0 20px 0
    .col-xl-12
        h3
            padding-top: 0            
.buttonWrapper
    width: 200px
    margin: 0 auto
    margin-top: 45px
    
    .button 
        text-align: 100%
        backface-visibility: hidden
        border-radius: 100px !important
        color: #fff
        font-size: 18px
        letter-spacing: 1px
        padding: 13px 20px
        position: relative
        font-weight: 500 !important
        width: 200px
        float: none
        border: 2px solid #EF3C51
        font-size: 150%
        background-color: #EF3C51
        -moz-box-shadow:    2px 2px 3px  rgba(0,0,0,.3)
        -webkit-box-shadow: 2px 2px 3px  rgba(0,0,0,.3)
        box-shadow:         2px 2px 3px  rgba(0,0,0,.3)
        &:hover
            padding: -2px
            -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out
            -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out
            background-color: white
            border: 2px solid #EF3C51
            color: #EF3C51
            font-weight: bold
            outline: 0


@keyframes pulse 
    0% 
        transform: scale(1)
    25% 
        transform: scale(1.135)
    50% 
        transform: scale(1)
    75%
        transform: scale(1.035)
    100% 
        transform: scale(1)