@import 'footer', 'display', 'header', 'variables', 'services', 'portfolio', 'contact', 'prices', 'preloader'
    
@import url('https://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,400,300,400,700|Nanum+Gothic|Philosopher|Playfair+Display|Quicksand:100,100i,200,200i,300,400,300,400,700|Rajdhani')
/* 
    font-family: 'Playfair Display', serif

    font-family: 'Nanum Gothic', sans-serif

    font-family: 'Quicksand', sans-serif  h3

    font-family: 'Exo', sans-serif

    font-family: 'Rajdhani', sans-serif

    font-family: 'Philosopher', sans-serif  h3
    */
* 
    padding: 0
    margin: 0
    border: 0
body 
    font-family: 'Exo', sans-serif
    font-weight: 300
    width: 100%
    padding: 0
    margin: 0
    border: 0
    line-height: 1.8
    overflow-x: hidden
    background: $backgroundBodyLight
    @media (pointer:none), (pointer:coarse)
        overflow-x: hidden
html 
    padding: 0
    margin: 0
    border: 0
    width: 100%
    overflow-x: hidden
h1 
    font-weight: 300
    color: white
    font-size: 720%
    @media screen and (max-width: 1040px)
        font-size: 520%
    @media screen and (max-width: 600px)
        font-size: 350%
h2 
    text-align: center
    margin-bottom: 20px
h3 
    color: black
    font-weight: 500
    text-align: center
    margin: 30px
    font-weight: 100
p 
    text-align: center
    font-size: 100%
    padding: 10px 5px 0 5px
    @media screen and (max-width: 800px)
        padding: 0 1vw 10px 1vw 


